# Example environment variables for HSI biopsy project

# Absolute path to directory containing HSI .mat data files
# HSI_DATA_DIR=/home/user/data/raw
HSI_DATA_DIR=/path/to/hsi/data
HSI_PREPROCESSED_DIR=path/to/preprocesed/hsi/data


# Path to processed metadata CSV file
# METADATA_CSV_PATH=/home/user/data/processed/biopsy_metadata.csv
METADATA_CSV_PATH=/path/to/metadata.csv

# Path to molecular data
MOLECULES_DIR=/path/to/molecules

# Path to directory containing hyperprobe .npy data files
HYPERPROBE_DATA_DIR=/path/to/hyperprobe/data

# Path to directory containing helicoid data files
HELICOID_DATA_DIR=/path/to/helicoid/data

# Path to directory containing helicoid reference pixel data files if they don't exist yet run helicoid_dataset_analysis.ipynb
HELICOID_REFERENCE_PIXEL_DIR=/path/to/helicoid/reference/pixel